logbook>=1.4.3
Pillow>=6.0.0
PyPDF2>=1.26.0
python-telegram-bot==12.0.0b1
python-dotenv>=0.10.3
slackclient>=2.0.1
textblob>=0.15.3
Wand>=0.5.4
-e git+https://github.com/zeshuaro/pdf-diff.git#egg=pdf-diff
git+https://github.com/zeshuaro/noteshrink.git#egg=noteshrink
