Babel==2.9.1
flask==2.0.1
google-cloud-datastore==2.1.5
gunicorn==20.1.0
humanize==3.10.0
img2pdf==0.4.1
Logbook==1.5.3
matplotlib==3.4.2
ocrmypdf==12.3.0
pdfCropMargins==1.0.5
pdf2image==1.16.0
pdfminer.six==20201018
python-dotenv==0.19.0
python-telegram-bot==13.7
Pillow==8.3.1
PyPDF2==1.26.0
requests==2.26.0
slackclient==2.9.3
textblob==0.15.3
WeasyPrint==52.5
git+https://github.com/zeshuaro/noteshrink.git#egg=noteshrink
git+https://github.com/zeshuaro/pdf-diff#egg=pdf_diff
