babel>=2.7.0
google-cloud-datastore>=1.8.0
img2pdf>=0.3.3
logbook>=1.4.3
matplotlib>=3.1.1
pdfCropMargins>=0.1.4
pdf2image>=1.5.4
python-dotenv>=0.10.3
python-telegram-bot==12.0.0b1
Pillow>=6.0.0
PyPDF2>=1.26.0
slackclient>=2.0.1
textblob>=0.15.3
WeasyPrint>=47
git+https://github.com/zeshuaro/noteshrink.git#egg=noteshrink
git+https://github.com/zeshuaro/pdf-diff#egg=pdf_diff
